# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Build outputs
out/
*.zip

# OS / editor
.DS_Store
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
